ngb-toast {
  position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: ease-in-out 0.5s;
}

figure:empty {
  border: 0;
}

figure {
  display: inline-block;
  border: 1px solid #000;
  border-radius: 10px;
}

.light-blue {
  background-color: #5cb3fd;
}

.light-green {
  color: #5fd65f;
}

.light-yellow {
  color: #ffdb4d;
}

.light-orange {
  color: #ffaa00;
}

.light-red {
  color: #ff5f5f;
}

.light-purple {
  color: #b366ff;
}

i {
  font-size: 1.5rem;
  padding-right: 0.1rem;
  color: #b0c4de;
}
