<h1 class="text-center">Bienvenido a VulneSolve</h1>

<p>
  ¿Te preocupa la seguridad de tu red?
  ¡Estás en el lugar correcto! te proporcionamos una herramienta poderosa para identificar las vulnerabilidades en tu red.
</p>

<h2>¿Cómo funciona?</h2>

<p>
  Es sencillo.
  Simplemente carga tu archivo Nmap y deja que nuestra plataforma haga el resto.
  Analizaremos la topología de tu red,
  identificaremos los equipos conectados,
  los puertos abiertos en esos equipos y
  te proporcionaremos información detallada sobre las vulnerabilidades asociadas con esos puertos.
</p>

<h2>¿Por qué elegir VulneSolve?</h2>

<ul>
  <li>Seguridad en un instante: Con solo unos pocos clics, obtén una visión clara de las vulnerabilidades en tu red.</li>
  <li>Información detallada: No solo te diremos qué puertos están abiertos, sino también qué vulnerabilidades podrían explotarse a través de esos puertos.</li>
  <li>Fácil de usar: Nuestra interfaz intuitiva hace que sea simple cargar tu archivo Nmap y obtener resultados rápidos.</li>
</ul>

<h2>¿Listo para empezar?</h2>

<p>
  ¡Sube tu archivo Nmap ahora mismo y toma el control de la seguridad de tu red!
</p>

<div class="text-end">
  <button type="button" class="btn btn-primary" routerLink="nmap">Cargar tu archivo Nmap</button>
</div>
