i {
  font-size: 1.5rem;
  padding-right: 0.1rem;
  color: #b0c4de;
}

.light-green {
  color: #5fd65f;
}

.light-yellow {
  color: #ffdb4d;
}

.light-orange {
  color: #ffaa00;
}

.light-red {
  color: #ff5f5f;
}

.light-purple {
  color: #b366ff;
}
