<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <div class="nav">

      <a class="navbar-brand" routerLink="">
        <img src="./assets/icon.png" alt="logotipo" width="27" height="27" class="d-inline-block align-text-top">
        <span> VulneSolve</span>
      </a>

      <a class="nav-link" routerLink="puertos">puertos</a>

      <a class="nav-link" routerLink="nmap">nmap</a>

      <ng-form #vulnerabilidadesForm="ngForm">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="input-group">
                <input type="search" name="busqueda" class="form-control" placeholder="Vulnerabilidades" aria-label="Buscar vulnerabilidades" aria-describedby="buscar" [(ngModel)]="busqueda">
                <button class="btn btn-outline-primary" type="submit" [disabled]="!vulnerabilidadesForm.valid" routerLink="/vulnerabilidades/{{busqueda}}">
                  <fa-icon [icon]="faSearch" alt="buscar"></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-form>

      <!-- Si sesion no iniciada -->
      @if (usuariosService.sesionIniciada){
        <!-- Si usuario administrador -->
        @if(usuariosService.esUsuarioAdministrador){
          <a class="nav-link link-warning" routerLink="administracion">admin</a>
        }

        <div class="d-flex justify-content-end">
          <button class="btn btn-link link-danger" (click)="cerrarSesion()">cerrar sesion</button>
        </div>
      } @else {
        <a class="nav-link" routerLink="iniciar-sesion">iniciar sesion</a>

        <a class="nav-link link-success" routerLink="registrar">registrar</a>
      }

    </div>
  </div>
</nav>
